@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--bg-color);
	min-height: 100vh;
	width: 100vw;
	color: var(--text-primary);
	isolation: isolate;
}

a,
input {
	color: inherit;
}
