.profilemd {
	padding: 1rem;
	word-break: break-all;
	overflow: scroll;
	height: 100%;
	&::-webkit-scrollbar {
		display: none;
	}
}
.list {
	margin-top: 1rem;
	padding-left: 1rem;
}
.table {
	width: 100%;
}
.table {
	margin-top: 1rem;
	border: 1px solid #1e2026;
	border-collapse: collapse;
}
